<div class="container">
  <h2 class="text-center my-5">Règles du jeu</h2>
  <div class="row justify-content-center">
    <div class="col-12">
      <p (>Règle 1: Les joueurs jouent chacun leur tour en respectant l'ordre.</p>
      <p>Règle 2: A leur tour, les joueurs retirent de une à trois allumettes en clickant sur le bouton correspondant.</p>
      <p>Règle 3: Le joueur qui doit récupérer la derniere allumette a perdu la partie.</p>
      <p>Règle 4: Bon jeu !</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3 justify-content-center d-flex">
      <button class="btn btn-primary text-center" routerLink="">Accueil</button>
    </div>
  </div>
</div>
